<div class="container">
  <h3>Search Courses</h3>
  <div class="row">
    <form class="form-inline" name="searchCourseForm" [formGroup]="searchCourseForm" (ngSubmit)="searchCourse()">
      <div class="form-group">
        <label for="gpa">GPA</label>
        <input name="gpa" type="text" formControlName="gpa" class="form-control" id="gpa" aria-describedby="emailHelp"
        [ngClass]="{ 'is-invalid': submitted && f.gpa.errors }"
          placeholder="gpa">
        <div *ngIf="submitted && f.gpa.errors" class="invalid-feedback">
          <div *ngIf="f.gpa.errors.required">GPA is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="gre">GRE Score</label>
        <input name="gre" type="text" formControlName="gre" class="form-control" id="grescore" placeholder="gre score" 
        [ngClass]="{ 'is-invalid': submitted && f.gre.errors }">
        <div *ngIf="submitted && f.gre.errors" class="invalid-feedback">
          <div *ngIf="f.gre.errors.required">GRE score is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <select formControlName="country" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
            <option *ngFor="let country of countries" value="{{country.code}}">{{country.name}}</option>
          </select>
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors.required">Country is required</div>
          </div>
      </div>
      <div class="form-group">
        <label for="course">Course Name</label>
        <input name="course" type="text" formControlName="course" class="form-control" id="course" placeholder="course name">
      </div>
      <button type="submit" class="btn btn-primary">Search Course</button>
    </form>
  </div>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">University</th>
        <th scope="col">Course Name</th>
        <th scope="col">Country</th>
        <th scope="col">GPA</th>
        <th scope="col">GRE Score</th>
        <th scope="col">Teacher Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <th>{{ course.university.name }}</th>
        <td>{{ course.name }}</td>
        <td>{{ course.university.country}}</td>
        <td>{{ course.university.minimum_gpa }}</td>
        <td>{{ course.university.minimum_gre_score }}</td>
        <td>{{ course.teacher_name }}</td>
      </tr>
    </tbody>
    <div *ngIf="submitted && courses.length === 0">No Courses available for the search criteria</div>
  </table>
</div>